{% extends 'base.html' %}

{% block bootstrap_link %}

{% endblock %}


{% block head %}
    <style>

        @font-face {
            font-family: 'Caros';
            src: url('../../static/style/caros.woff') format('woff');
            font-weight: normal;
            font-style: normal;
        }

        @font-face {
            font-family: 'Dinn';
            src: url('../../static/style/caros.woff') format('woff');
            font-weight: normal;
            font-style: normal;
        }


        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
            width: 100%;
            background-color: #d5933d;
        }

        .quiz-over {
            text-align: center;
            font-size: 3rem;
            margin-bottom: 20px;
            color: white;
            font-family: Caros, serif;
            animation: scaleText 0.5s infinite alternate ease-in-out;
            margin-top: 50px;
        }

        @keyframes scaleText {
            from {
                transform: scale(1);
            }
            to {
                transform: scale(1.1);
            }
        }

        .container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 70vh;
            gap: 30px;
            font-family: Dinn, sans-serif;
        }

        .block {
            width: 200px;
            height: 100px;
            border: 1px solid lightgrey;
            opacity: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            animation: appear 1s forwards;
        }

        .block:nth-child(2) {
            animation-delay: 0.5s;
        }

        .block:nth-child(3) {
            animation-delay: 1s;
        }

        @keyframes appear {
            to {
                opacity: 1;
            }
        }

        .congrats {
            text-align: center;
            margin: 20px;
            font-family: Dinn, sans-serif;
        }

        #go-home {

            color: white;
            border: none;
            border-radius: 12px;
            padding: 10px 20px;
            cursor: pointer;
        }

        .button {
            position: relative;
            margin: 20px;
        }

        .button button {
            color: white;
            font-family: Dinn, sans-serif;
            font-weight: bold;
            font-size: 30px;
            text-align: center;
            text-decoration: none;
            background-color: #FFA12B;
            width: 350px;

            padding: 20px 40px;
            border: none;
            cursor: pointer;

            -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
            text-shadow: 0px 1px 0px #000;
            filter: dropshadow(color=#000, offx=0px, offy=1px);

            -webkit-box-shadow: inset 0 1px 0 #FFE5C4, 0 10px 0 #915100;
            -moz-box-shadow: inset 0 1px 0 #FFE5C4, 0 10px 0 #915100;
            box-shadow: inset 0 1px 0 #FFE5C4, 0 10px 0 #915100;

            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
        }

        .button button:active {
            top: 10px;
            background-color: #F78900;

            -webkit-box-shadow: inset 0 1px 0 #FFE5C4, inset 0 -3px 0 #915100;
            -moz-box-shadow: inset 0 1px 0 #FFE5C4, inset 0 -3px 0 #915100;
            box-shadow: inset 0 1px 0 #FFE5C4, inset 0 -3px 0 #915100;
        }

        .button:after {
            content: "";
            height: 100%;
            width: 100%;
            padding: 4px;
            position: absolute;
            bottom: -15px;
            left: -4px;
            z-index: -1;
            background-color: #2B1800;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
        }

    </style>
{% endblock %}

{% block container %}
    <div class="quiz-over">
        Quiz Over!
    </div>
    {% if top_scores %}
        <div class="congrats">Congratulations to {{ top_scores[0][0] }} with a score of {{ top_scores[0][1] }}</div>
    {% endif %}
    <div class="container">
        {% for name, score in top_scores %}
            <div class="block">{{ name }}: {{ score }} points</div>
        {% endfor %}
        <div class="button ">
            <button id="go-home" class="start" type="submit">Join Another Quiz</button>
        </div>
    </div>

    <script>
        document.getElementById('go-home').addEventListener('click', function () {
            window.location.href = '/';
        });
    </script>
{% endblock %}
