{% extends 'base.html' %}


{% block container %}

    <div align="center">sockets room

    <h3 class="text-primary">Welcome, {{session["name"]}}! </h3>
    <h4>Waiting for other players</h4>
    <h4 class="gameStatus">Game starting soon...</h4>

    <script>
        let socket = io();

        //when the socket connection is established, do this for client
        socket.on('connect', () => {
            console.log('You just connected to the socket server!')
        })

        //when the client receives the custom event user_disconnected, do this for client
        socket.on('user_disconnected', (data) => {
            console.log(data.message)
        })

        socket.on('room_filled', (data) => {

            let timer = document.querySelector('.gameStatus')
            timer.innerHTML = data;
            console.log(data)
        })


    </script>

<div align="center">
    <form method="POST" action="{{ url_for('question_page.quiz') }}">
        <button type="submit" class="btn btn-primary align-items-center">Start</button>
    </form>
</div>
        <hr>
<h2 class="text-primary">Players who already joined:</h2>


{% for user in usernames%}
        <p> {{user}} </p>
        {% endfor %}
</div>
{% endblock %}