{% extends 'base.html' %}

{# injecting styles into base.html#}
{% block head %}
<!--<link rel="stylesheet" href="../../static/style/join_game_page.css">-->
{% endblock %}


{% block container %}

    <div class="col-lg-12 g-2">
        <h1 align="center">Welcome </h1>
        <h3 align="center">Enter your name to join the game</h3>
        <hr>

<div align="center">
        <form method="POST" action="/" >
            <div class="col-sm-4 m-2">
            <input class="form-control" type="text" placeholder="Your Name" name="name">
            </div>
            <div class="col-sm-12 m-2">
            <button type="submit" name="join" class="btn btn-primary btn-block" >join</button>
                </div>
        </form>
    </div>
    </div>


    {% if error %}

        <ul>
            <li>{{ error }}</li>
        </ul>

    {% endif %}

{% endblock %}