{% extends 'base.html' %}

{# injecting styles into base.html#}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='style/join_game_page.css') }}">
{% endblock %}


{% block container %}

    <div class="form-container">
        <h1>Welcome </h1>
        <h3>Enter your name to join the game</h3>
        <hr>

    <form method="POST" action="/" >
        <div>
            <input class="form-control" type="text" placeholder="Your Name" name="name">
        </div>
        <div class="join-room">
            <input class="form-control" type="text" placeholder="Room Code" name="code" value="{{code}}"/>
            <button type="submit" name="join" class="btn btn-primary btn-block" >Join</button>
        </div>
        <button type="submit" name="create" class="btn btn-primary btn-block create-btn"> Create a Room</button>
    </form>
    </div>


    {% if error %}

        <ul>
            <li>{{ error }}</li>
        </ul>

    {% endif %}

{% endblock %}