body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.quiz-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
}

.question {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

p {
    flex: 1;
}

.answers-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}

label {
    padding: 10px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
}

label:hover {
    background-color: #0056b3;
}

input[type="radio"] {
    display: none;
}

input[type="radio"]:checked + .btn-text {
    background-color: orange;
}

